<!-- The header, should stay at the top of the screen with scrolling. -->

<div id="header">
        <h3 class="titleCard" id="top">Person Name</h3>
        <div class="wrapper">
        <div><a class="button col-xs-8" routerLink="/home">About</a></div>
        <div><a class="button col-xs-8" routerLink="/contact">Contact</a></div>
        <div><a class="button col-xs-8" routerLink="/donate">Donations</a></div>
        <div><a class="button col-xs-8" routerLink="/events">Events</a></div>
        <div><a class="button col-xs-8" routerLink="/issues">Issues</a></div>
</div>
</div>