<!-- The header, should stay at the top of the screen with scrolling. -->

<div id="header">
        <!-- Master Site Label -->
        <h3 class="titleCard" id="top">Person Name</h3>
        <!-- Link Button Container. Keeps the Links looking orderly. Scales with mobile. -->
        <div class="wrapper">
        <!-- Home/About Page Link -->
                <div><a class="button col-xs-8" routerLink="/home">About</a></div>
        <!-- Contact/Form Page Link -->
                <div><a class="button col-xs-8" routerLink="/contact">Contact</a></div>
        <!-- Donations Page Link -->
                <div><a class="button col-xs-8" routerLink="/donate">Donations</a></div>
        <!-- Events/Calendar Page Link -->
                <div><a class="button col-xs-8" routerLink="/events">Events</a></div>
        <!-- Key Issues/Concerns Page Link -->
                <div><a class="button col-xs-8" routerLink="/issues">Issues</a></div>
</div>
</div>