/* Overarching styling for footer component. */
#footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(71, 71, 71);
    text-align: center;
    color: aliceblue;
    margin-top: 0px;
    padding: 25px;
    height: 2.5rem;
}

/* Keeps the 'back to top' text on the right side of the page and in line with the center text, vertically. */
#footerright {
    text-align: right;
    margin-right: 10%;
    color: white;
    position: relative;
    top: -50px;
}

br {
    color: aliceblue;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

/* Determines page height/distance of Footer from Content. */
#page-container {
    position: relative;
    min-height: 65vh;

}

#content-wrap {
    padding-bottom: 1rem;  /*Footer height*/
}