
/* I don't even know why a 'main' element is on this component page. Oh, well... */
main {
    border-radius: 12px;
    padding: 10px;
}

/* Override for whatever skullduggery is going with position on the main 'css' file. */
div.main {
    width: 100%;
    max-width: auto;
    width: fit-content;
}

/* Specific text identifier for this component. */
p {
    padding: 10px;
    width: 50%;
    text-align: auto;
    border: fit-content;
}

/* This text box will point users to the agenda tab on the Google Calendar. */
#identifieragenda {
    padding: 0;
    position: relative;
    top: 30px;
    width: 1000;
    text-align: center;
    padding: 0;
    margin-left: 60%;
    margin-right: 30px;
    max-height: fit-content;
}

/* This holds the Google Calendar in place on the page. */
#iframebloc {
    padding-top: 0;
    margin-top: 0;
    position: relative;
    top: 49px;
    margin: 10px;
    content: auto;
    border: double burlywood;
    background-color: antiquewhite;
}

/* The actual Google calendar Element. */
iframe {
    width: 100%;
    height: 1000;
    margin: auto;
}