
<div class="main"><h1>Please take a look at the calendar for upcoming events!</h1></div>
<div class="main" id="identifieragenda">
    <!-- Was aligned to right until the margins were turned to 50% to get double-spacing.  -->
    <p>Please check the agenda tab just below to see all upcoming events in chronological order.</p>
</div> 
    <div id="iframebloc"><iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23616161&ctz=America%2FNew_York&src=OTNmOGEzOGM3N2VkYjE5MzQ1ZDJjM2QzZTIwN2ExMzU2YmIyYTJmMmQ4NzQ1MWZmNGMwODlmMzU5YjU5NTc2MEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000&color=%23009688" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>