<!-- Local title for page. -->
<div class="main">
    <!-- Page Header. -->
    <h1>Contact Person</h1>
    <!-- Telling Users what the Form is for. -->
    <p>Subscribe to our newsletter to receive regular updates about Person. <br> Please enter your information below.</p></div>
<div class="main">
    <!-- Form Group Header. -->
    <h1>Contact Form</h1>
    <form>
        <label>Suffix</label><br>
<!-- Radio buttons for the suffix options below. -->
        <input type="radio" id="mr" name="suffix" value="mr" />
        <label for="mr" id="mrlbl">Mr.</label><br>
        <input type="radio" id="ms" name="suffix" value="ms" />
        <label for="ms" id="mslbl">Ms.</label><br>
        <input type="radio" id="mrs" name="suffix" value="mrs" />
        <label for="mrs" id="mrslbl">Mrs.</label><br>
        <input type="radio" id="dr" name="suffix" value="dr" />
        <label for="dr" id="drlbl">Dr.</label><br>
<!-- Text fill out forms below. -->
        <label for="fname">First Name: </label>
        <input type="text" id="fname" name="fname" minlength="3" maxlength="16">
        <br>
        <label for="lname">Last Name: </label>
        <input type="text" id="lname" name="lname" minlength="3" maxlength="16" />
        <br>
        <label for="number">Phone Number: </label>
        <input type="number" id="number" name="number" minlength="11" maxlength="11" />
        <br>
        <label for="email">Email Address: </label>
        <input type="email" id="email" name="email" /><br>
    <input type="submit" value="Submit" id="submit" method="post" formaction="">
    </form> 
</div>
<!-- Social Media Icon Links to go here. -->
<div class="main">
    <!-- Social Media Section Header. -->
    <h3>And feel free to follow Person on social media, via the links below!</h3>
    <div id="socialholder">
    <!-- Facebook Icon/Link. -->
        <a href="https://www.facebook.com/profile.php?id=100012374860074"><img src="../assets/images/fbicon.png" alt="Facebook Icon for Link" class="socialicon" id="fbicon" target="_blank"/></a>
    <!-- Twitter Icon/Link. -->
        <a href="https://twitter.com/i/topics/1291673117010534401"><img src="../assets/images/twicon.png" alt="Twitter Icon for Link" class="socialicon" id="twicon" target="_blank"/></a>
    <!-- LinkedIn Icon/Link. -->
        <a href="https://www.linkedin.com/in/tom-morris-477641212/"><img src="../assets/images/liicon.png" alt="LinkedIn Icon for Link" class="socialicon" id="liicon" target="_blank"/></a>
    <!-- Instagram Icon/Link -->
        <a href="https://www.instagram.com/explore/tags/funny/"><img src="../assets/images/inicon.png" alt="Instagram Icon for Link" class="socialicon" id="inicon" target="_blank"/></a>
</div>
</div>