<div class="main"><h1>Contact Person</h1><p>Subscribe to our newsletter to receive regular updates about Person. <br> Please enter your information below.</p></div>
<div class="main">
    <h1>Contact Form</h1>
    <form>
        <label>Suffix</label><br>
<!-- Radio buttons for the suffix options below. -->
        <input type="radio" id="mr" name="suffix" value="mr" />
        <label for="mr" id="mrlbl">Mr.</label><br>
        <input type="radio" id="ms" name="suffix" value="ms" />
        <label for="ms" id="mslbl">Ms.</label><br>
        <input type="radio" id="mrs" name="suffix" value="mrs" />
        <label for="mrs" id="mrslbl">Mrs.</label><br>
        <input type="radio" id="dr" name="suffix" value="dr" />
        <label for="dr" id="drlbl">Dr.</label><br>
<!-- Text fill out forms below. -->
        <label for="fname">First Name: </label>
        <input type="text" id="fname" name="fname" maxlength="12">
        <br>
        <label for="lname">Last Name: </label>
        <input type="text" id="lname" name="lname" maxlength="16" />
        <br>
        <label for="number">Phone Number: </label>
        <input type="number" id="number" name="number" maxlength="11" />
        <br>
        <label for="email">Email Address: </label>
        <input type="email" id="email" name="email" /><br>
        <input type="submit" value="Submit" id="submit" formaction="http://ss1.ciwcertified.com/cgi-bin/process.pl">
    </form> 
</div>
<!-- Social Media Icon Links to go here. -->
<div class="main">
    <h3>And feel free to follow Person on social media, via the links below!</h3>
    <img url="/assets/images/fbicon.png" alt="Facebook Icon for Link" />
</div>