h2 {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1.5px 1.5px 1.5px brown;
}

/* For hovering over the different topics. */
h2:hover {
    color: blue;
    text-shadow: gray;
    transition: all 1s ease-in-out;
}