/* You can add global styles to this file, and also import other style files */
main {
    padding: 0px;
    width: 100%;
}

/* Styling for overarching body of web page content. */
body {
    /* background-image: url(../assets/images/americanflag.jpg); */
    background: linear-gradient(lightgrey 25%, lightblue 100%);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    margin-top: 100px;
    width: auto;
    display: block;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;
    margin-top: 160px;
}

/* Body scale with mobile. */
@media screen and (max-width: 816px) {
    body {
        margin-right: 0;
        margin-top: 230px;
        overflow-x: hidden;        
    }
}

/* Styling for main div, holds almost all content, except the embedded Google Calendar on the Events Page. */
div.main {
    background-color: rgb(250, 250, 250);
    opacity: 85%;
    max-width: 800px;
    align-items: center;
    text-align: center;
    border: 6px double;
    border-color: rgb(0, 0, 0);
    width: auto;
    margin: auto;
}

/* Site reaction when users hover over/interact with main body blocks. */
div.main:hover {
    border-color: blue;
    color: blue;
    transition: all 1.1s ease-in-out;
}

/* Class main. */
.main {
    margin-top: 20px;
    padding: 10px;
}

/* Does the page have buttons anymore? */
button {
    background-color: antiquewhite;
    padding: 20px;
    border: double darkred 4px;
    border-radius: 4px;
    margin-bottom: 0px;
    position: fixed;
    z-index: 3;
    transform: translateY(-197px);
}

/* When users hover the title. */
h1 :hover {
    color: blue;
    size-adjust: 1.3;
}

/* Secondary page label styling. */
h2 {
    font-size: 25px;
}

/* Standard image styling. */
image {
    display: block;
    margin: 0px;
    padding-bottom: 0px;
    border-color: aquamarine;
    transition: all 3s ease-in-out;
    aspect-ratio: initial;
}

