/* Alignment and size of image. */
img {
    align-content: center;
    max-width: 400px;
    max-height: 100%;
    border: solid 1px darkgray;
    padding: 1px;
}

/* Image when user hovers. */
img:hover {
    border: solid 2px black;
    transition: all 1s ease-in-out;
    padding: 0px;
}

/* Alignment of image on mobile. */
@media screen and (max-width: 450px) {
    img {
        align-content: center;
        max-width: 200px;
        max-height: 100%;      
    }
}